{% extends "base.html" %}
{% block title %}{{ author.username }}{% endblock %}
{% block content %}

    <main role="main" class="container">
        <div class="row">
                {% include "include/profile_info.html" with author=author profile=True %}
                <div class="col-md-9">                

                    {% for post in page %}
                        {% include "include/post_item.html" with post=post %}
                    {% endfor %}
                    {% include "include/paginator.html" %}
                 </div>
        </div>
    </main>

{% endblock %}