<nav class="navbar navbar-light" style="background-color: #222831">
    <a class="navbar-brand" href="/"><span style="color:#f05454">POST</span><span style="color:#dddddd">it</span></a>
{#    <nav class="my-2 my-md-0 mr-md-3">#}
{#        {% if user.is_authenticated %}#}
{#            <a class="p-2 text-light" href="{% url "profile" username=user.username %}">User: {{ user.username }}</a>#}
{#            <a class="p-2 text-light" href="{% url 'new_post' %}">New post</a>#}
{#            <a class="p-2 text-light" href="{% url 'password_change' %}">Change password</a>#}
{#            <a class="p-2 text-light" href="{% url 'logout' %}">Log out</a>#}
{#        {% else %}#}
{#            <a class="p-2 text-light" href="{% url 'login' %}">Log in</a>#}
{#            <a class="p-2 text-light" href="{% url 'signup' %}">Sign up</a>#}
{#        {% endif %}#}
{#    </nav>#}
</nav>