<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}The Last Social Media You'll Ever Need{% endblock %} | postit</title>
        <!-- Static load -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        {% include 'include/nav.html' %}
        <main>
        <br>
            <div class="ml-4">
            {% block header %}
              <blockquote class="blockquote">
                      <p class="mb-0"><h2>You miss 100% of the shots you don’t take.</h2></p>
                      <footer class="blockquote-footer"><cite title="Source Title">Wayne Gretzky</cite></footer>
                      <footer class="blockquote-footer"><cite title="Source Title">Michael Scott</cite></footer>
                </blockquote>
            {% endblock %}
            </div>
            <div class="container">
                {% block content %}
                <!-- Page content -->
                {% endblock content %}
            </div>
        </main>
        {% include 'include/footer.html' %}
    </body>
</html>